@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background-color: rgb(125, 125, 189);
  color: white;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgb(194, 189, 189);
  border-radius: 9px;
  cursor: pointer;
  background-color: rgb(255, 145, 1)
}
.box{
  width: 56vh;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.432);
  border: none;
  border-radius: 30px;
}
.row{
  margin: 8px 0;
}
.row input{
  height: 70px;
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}